/*  your css code here. If applicable */
h1 {
	display:flex;
	justify-content:center;
}
#title,
#author,
#isbn {
	display:flex;
	width:100%;
}

#submit {
	background-color: blue;
	color:white;
	border-radius:0.25rem;
	border:none;
	padding:6px;
}

.table {
	width:100%;
	border:collapse;
}
.table th, .table td {
  padding: 10px;
}

.delete {
	background-color:red;
	color:white;
	padding:0.2rem;
}





